@font-face {
  font-family: "iconfont"; /* Project id 2623857 */
  src: url('iconfont.woff2?t=1624280882280') format('woff2'),
       url('iconfont.woff?t=1624280882280') format('woff'),
       url('iconfont.ttf?t=1624280882280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-add:before {
  content: "\e664";
}

.c-icon-add-circle:before {
  content: "\e665";
}

.c-icon-arrow-up-circle:before {
  content: "\e666";
}

.c-icon-arrow-right-circle:before {
  content: "\e667";
}

.c-icon-arrow-down:before {
  content: "\e668";
}

.c-icon-ashbin:before {
  content: "\e669";
}

.c-icon-arrow-right:before {
  content: "\e66a";
}

.c-icon-browse:before {
  content: "\e66b";
}

.c-icon-arrow-double-left:before {
  content: "\e66c";
}

.c-icon-arrow-double-right:before {
  content: "\e66d";
}

.c-icon-close:before {
  content: "\e66e";
}

.c-icon-direction-down:before {
  content: "\e66f";
}

.c-icon-direction-right:before {
  content: "\e670";
}

.c-icon-direction-up:before {
  content: "\e671";
}

.c-icon-discount:before {
  content: "\e672";
}

.c-icon-direction-left:before {
  content: "\e673";
}

.c-icon-error:before {
  content: "\e674";
}

.c-icon-fabulous:before {
  content: "\e675";
}

.c-icon-file:before {
  content: "\e676";
}

.c-icon-hide:before {
  content: "\e677";
}

.c-icon-layers:before {
  content: "\e678";
}

.c-icon-loading:before {
  content: "\e679";
}

.c-icon-minus-circle:before {
  content: "\e67a";
}

.c-icon-minus:before {
  content: "\e67b";
}

.c-icon-refresh:before {
  content: "\e67c";
}

.c-icon-search:before {
  content: "\e67d";
}

.c-icon-select:before {
  content: "\e67e";
}

.c-icon-success:before {
  content: "\e67f";
}

.c-icon-time:before {
  content: "\e680";
}

.c-icon-add-bold:before {
  content: "\e685";
}

.c-icon-arrow-left-bold:before {
  content: "\e686";
}

.c-icon-arrow-up-bold:before {
  content: "\e687";
}

.c-icon-close-bold:before {
  content: "\e688";
}

.c-icon-arrow-down-bold:before {
  content: "\e689";
}

.c-icon-minus-bold:before {
  content: "\e68a";
}

.c-icon-arrow-right-bold:before {
  content: "\e68b";
}

.c-icon-select-bold:before {
  content: "\e68c";
}

.c-icon-arrow-up-filling:before {
  content: "\e68d";
}

.c-icon-arrow-down-filling:before {
  content: "\e68e";
}

.c-icon-arrow-left-filling:before {
  content: "\e68f";
}

.c-icon-arrow-right-filling:before {
  content: "\e690";
}

.c-icon-clock-filling:before {
  content: "\e691";
}

.c-icon-delete-filling:before {
  content: "\e692";
}

.c-icon-help-filling:before {
  content: "\e693";
}

.c-icon-success-filling:before {
  content: "\e694";
}

.c-icon-prompt-filling:before {
  content: "\e695";
}

