@font-face {
  font-family: "cactus-icons"; /* Project id 2507114 */
  src: url('iconfont.woff2?t=1621417911497') format('woff2'),
       url('iconfont.woff?t=1621417911497') format('woff'),
       url('iconfont.ttf?t=1621417911497') format('truetype');
}

.cactus-icons {
  font-family: "cactus-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-loading:before {
  content: "\e65b";
}

.c-icon-refresh:before {
  content: "\e604";
}

.c-icon-like:before {
  content: "\e605";
}

.c-icon-message-solid:before {
  content: "\e62b";
}

.c-icon-info-outline:before {
  content: "\e62c";
}

.c-icon-upload:before {
  content: "\e62d";
}

.c-icon-folder-opened:before {
  content: "\e62e";
}

.c-icon-download:before {
  content: "\e62f";
}

.c-icon-paperclip:before {
  content: "\e630";
}

.c-icon-warning-outline:before {
  content: "\e631";
}

.c-icon-edit:before {
  content: "\e632";
}

.c-icon-arrow-down:before {
  content: "\e633";
}

.c-icon-warning-only:before {
  content: "\e634";
}

.c-icon-d-arrow-right:before {
  content: "\e635";
}

.c-icon-arrow-right:before {
  content: "\e636";
}

.c-icon-date:before {
  content: "\e637";
}

.c-icon-set:before {
  content: "\e638";
}

.c-icon-search:before {
  content: "\e639";
}

.c-icon-refresh-right:before {
  content: "\e63a";
}

.c-icon-arrow-up:before {
  content: "\e63b";
}

.c-icon-d-arrow-left:before {
  content: "\e63c";
}

.c-icon-close:before {
  content: "\e63d";
}

.c-icon-time:before {
  content: "\e63e";
}

.c-icon-save:before {
  content: "\e63f";
}

.c-icon-caret-bottom:before {
  content: "\e640";
}

.c-icon-plus:before {
  content: "\e641";
}

.c-icon-circle-check:before {
  content: "\e642";
}

.c-icon-caret-top:before {
  content: "\e643";
}

.c-icon-renyuanguanli:before {
  content: "\e644";
}

.c-icon-caret-left:before {
  content: "\e645";
}

.c-icon-caret-right:before {
  content: "\e646";
}

.c-icon-error:before {
  content: "\e647";
}

.c-icon-add-outline:before {
  content: "\e613";
}

.c-icon-remove-outline:before {
  content: "\e614";
}

.c-icon-share:before {
  content: "\e615";
}

.c-icon-circle-close:before {
  content: "\e616";
}

.c-icon-yewubanli:before {
  content: "\e617";
}

.c-icon-heiban:before {
  content: "\e618";
}

.c-icon-home:before {
  content: "\e619";
}

.c-icon-jiangke:before {
  content: "\e61a";
}

.c-icon-question:before {
  content: "\e61b";
}

.c-icon-wendang:before {
  content: "\e61c";
}

.c-icon-success:before {
  content: "\e61d";
}

.c-icon-move:before {
  content: "\e61e";
}

.c-icon-info:before {
  content: "\e61f";
}

.c-icon-warning:before {
  content: "\e621";
}

.c-icon-minus:before {
  content: "\e622";
}

.c-icon-back:before {
  content: "\e623";
}

.c-icon-delete:before {
  content: "\e624";
}

.c-icon-folder:before {
  content: "\e625";
}

.c-icon-edit2:before {
  content: "\e626";
}

.c-icon-exit:before {
  content: "\e627";
}

.c-icon-document:before {
  content: "\e628";
}

.c-icon-arrow-left:before {
  content: "\e62a";
}

